/* pc */
@media (min-width: 1024px) {

}
/* tablet */
@media (min-width: 1024px) and (max-width: 1023px){
    
}
/* mobile */
@media (max-width: 739px) {
    #nav {
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav .subnav {
        position:initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #header {
        overflow: hidden;
    }
    #header .search-btn{
        display: none;  
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #content .member-img {
        width: 60%;
    }
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    .contact-form {
        margin-top: 16px;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
}