/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

#main {

}
#nav {
    display: inline-block;
}
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header .search-btn{
    float: right;
    padding:0 21px;   
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}


#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height:46px;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
    
}
#nav .nav-arrow-down {
    font-size: 14px;
}

#nav li {
   
    position: relative;
}


#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    
    background-color: #ccc;
    color: #000;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    display: block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav .subnav {
    top: 100%;
    left: 0;
    min-width: 160px;
    display:none;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    padding: 0 12px;
    color: black;
    line-height: 38px;

}

#slider {
   margin-top: 46px;
   padding-top: 50%;
   background:url('Web_TheBand_W3S/assets/image/slider/slider1.jpg') center top / cover no-repeat;
   position: relative;
}
#slider .text-content {
    position: absolute;
    bottom:47px;
    color: #fff;
    left:50%;
    transform: translateX(-50%);
    text-align: center
    /* width:100% */
    /* left: 0;
    right: 0; */
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top:25px;
}

#content {
    background-color: rgb(70, 129, 163);
    height:1000px;
}

#footer {
 
    
}
