/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

/* #main {

} */
::placeholder { 
    color: rgb(71, 153, 185);
    opacity: 0.6; 
}
#nav {
    display: inline-block;
}
#header {
    height: 46px;
    background-image: linear-gradient(rgb(70, 202, 255), rgb(247, 119, 225));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding:0 21px;   
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height:46px;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
    
}
#nav .nav-arrow-down {
    font-size: 14px;
}

#nav li {
   
    position: relative;
}


#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    
    background-color: rgb(226, 241, 22);
    color: #000;
}

#nav > li > a {
    color: rgb(241, 236, 236);
    text-transform: uppercase;
}
#nav li a {
    display: block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav .subnav {
    top: 100%;
    left: 0;
    min-width: 160px;
    display:none;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    padding: 0 12px;
    color: black;
    line-height: 38px;

}

#slider {
   margin-top: 46px;
   padding-top: 50%;
   background:url('/Web_TheBand_W3S/assets/image/slider/slider1.jpg') center top / cover no-repeat;
   position: relative;
}
#slider .text-content {
    position: absolute;
    bottom:47px;
    color: #fff;
    left:50%;
    transform: translateX(-50%);
    text-align: center
    /* width:100% */
    /* left: 0;
    right: 0; */
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top:25px;
}

/* #content {
} */

#content .content-section{
    Width:800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    text-align: center;
    font-size:30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-subheading{
    text-align: center;
    font-size: 15px;
    margin:25px 0;
    font-style: italic;
    opacity: 0.6;
    color: rgb(18, 176, 182);
}
#content .about-text{
    text-align: justify;
    line-height:1.4;
}
#content .member-list{
    margin-top:32px;
    overflow:hidden;
}
#content .member-name {
    font-size: 15px;
   
}
#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius:5px;
}
.tour-section {
    background-image: linear-gradient(rgb(70, 202, 255), rgb(247, 119, 225));
}
.text-white {
    color: #fff !important;
}
.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding:11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding:3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity {
    background-color: #000;
    color: #fff;
    float: right;
    border-radius:50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
.places-list {
    margin-top: 16px;
}
.col-third {
    width: 33.3333%;
}
.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.places-content {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}
.place-heading {
    font-size: 15px;
    font-weight: 550;
}
.place-time {
    margin-top: 15px;
    color: #0c9eb8;
}
.place-des {
    margin-top: 15px;
    line-height: 1.4;
}
.pull-right {
    float: right !important;
}
.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}
.btn:hover {
    cursor: pointer;
    color: #000;
    background-image: linear-gradient(rgb(70, 202, 255), rgb(247, 119, 225));
}
.clear {
    clear: both;
}
.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}
.mt-32 {
    margin-top: 32px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.text-center {
    text-align: center !important;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display:none;
}
.modal.open {
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .5s;
}
.modal-header {
    background-image: linear-gradient(rgb(70, 202, 255), rgb(247, 119, 225));
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    color: #fff;
}
.modal-header-icon {
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 14px;
    cursor: pointer;
    opacity: 0.9;
}
.modal-close:hover {
    opacity: 1;
    background-color: rgb(240, 56, 56);
    color: #fff;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 12px;
    margin-bottom: 20px;
}
#buy-tickets {
    background-image: linear-gradient(rgb(70, 202, 255), rgb(247, 119, 225));
    border: none;
    color: #fff;
    font-size: 15px;
    width: 100%;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
#buy-tickets:hover {
    background-color: rgb(216, 250, 26);
    color: #000;
}
.modal-footer {
    padding: 16px;
}
#footer-close-btn {
    background-image: linear-gradient(rgb(70, 202, 255), rgb(247, 119, 225));
    border: none;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}
#footer-close-btn:hover {
    background-color: #f0e7e7;
    color: #000;
}
.modal-help {
    text-align: right;
    margin-top: -20px;
    color: rgb(99, 197, 236);
}
.modal-footer a {
    color: #1ba1ee;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info a{
    color: #13adb3;
    opacity: 0.8;
}
.contact-info a:hover{
    color: #198c9b;
    opacity: 1;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block; 

}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid rgb(240, 180, 227);
    width: 100%;
}
/* .contact-form .form-submit-btn {
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    padding: 10px 16px;
    float: right;
}
.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #ccc;
} */
.map-section img {
    width: 100%;
}
#footer {
   padding: 64px 16px;
   text-align: center;
}
#footer .socials-list {
    font-size: 22px;
}
#footer .socials-list a {
    color:  rgb(216, 133, 202);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: rgb(247, 119, 225);
    opacity: 0.8;
}
#footer .copyright {
    margin-top: 15px;
    color: rgb(182, 120, 172);
}
#footer .copyright a {
    color: rgb(158, 122, 152);
}

